body {
    background: linear-gradient(141deg, #6f7a51 0%, #879a53 51%, #9ab15a 75%);
    height: 3000px
}
header {
    padding: 8px;
    background-color: #364022;
    display:flex;
    
}
div.header {
    color: #ffff;
}
img.header {
    height: 75px;
    width: auto;
    display: flex;
    justify-content: left;
    padding-left: 8px
}
nav.nav {
    display: flex;
    padding: 30px;
    margin-left: 20px;
    list-style: none;
    font-size: 1.28rem;
    font-family: 'Lexend';
}
a.nav {
    color: #b8b8b8;
    text-decoration: none;
    margin-right: 20px;
    display: inline-block;
    position: relative;
}
a.nav:hover {
    color: #ffffff;
    text-decoration: none;
    margin-right: 20px;
    display: inline-block;
    position: relative;
    transition: color 0.8s ease;
}
a.nav::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    top: 50px;
    background-color: rgb(255, 255, 255);
    transform: scaleX(0);
    transition: transform 0.8s ease;
}
a.nav:hover::after {
    transform: scaleX(1);
}
.box {
    background-color: #364022;

    font-family: 'Lexend';
    box-shadow: 0px 0px 5px 3px #364022;
    transition: box-shadow 0.8s , color 0.8s ease;
    text-decoration: none;
    .dompet {
    color: #525845;
    padding: 10px;
    margin-top: -20px;
    margin-bottom: -65px;
    transition: color 1s ease;
}
}
a.anav {
    text-decoration: none;
    color: #879a53;
    transition: color 1s ease;
}
a.anav:hover {
    text-decoration: none;
    color: #ffffff;
}
.box:hover {
    box-shadow: 0px 0px 8px 5px #cff46b;
    color: white;

    .dompet {
    color:#ffffff;
}

}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.flex-item {
    flex: 0 2 22%;
    padding: 20px;
    box-sizing: border-box;
}
img.ovw {
    aspect-ratio: 5/4;
    width: 360px;
}
.banner{
    padding-top: 5px;
    padding-left: 30px;
    color: #ffffff;
    font-family: 'Lexend';
}
a.on {
    color: #ffffff;
    text-decoration: none;
    margin-right: 20px;
    display: inline-block;
    position: relative;
    transition: color 0.8s ease;
}
a.on::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    top: 50px;
    background-color: rgb(255, 255, 255);
    transform: scaleX(0);
    transition: transform 0.8s ease;
}
a.on::after {
    transform: scaleX(1);
}





@media (max-width: 768px) {
    .flex-item {
        flex: 0 2 50%;
  }
}
@media (max-width: 480px) {
    .flex-item {
        flex: 1 1 100%;
  }
}
